
@media only screen and (min-width: 455px) {
  #top-nav ul {
    display: block;
  }

  .icon-menu {
    display: none;
  }

  .arrow {
    top: 50%;
    height: 30px;
    width: 30px;
    background: #555;
    position: absolute;
  }

  .left {
    left:0;
    margin-left: 250px;
    transform: rotate(-45deg);
  }

  .right {
    right: 0;
    margin-right: 250px;
    transform: rotate(135deg);
  }
  .arrow:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #000;
    top: 10px;
    left: 10px;
  }

  .arrow:hover {
    background: #fff;
  }
}
